{% extends "user_register/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>name</td>
            <td>telephone</td>
            <td>position</td>
            <td>
                <a href="{% url 'user_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>添加
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user in user_list %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.telephone}}</td>
                <td>{{user.position}}</td>
                <td>
                    <a href="{% url 'user_update' user.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'user_delete' user.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}