{% extends "student_register/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.username|as_crispy_field }}
    {{ form.password|as_crispy_field }}
<!--    {{ form.s_name|as_crispy_field }}-->
<!--    {{ form.phone_number|as_crispy_field }}-->
    <div class="row">
        <div class="col-md-6">
            {{ form.s_name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.phone_number|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.birth|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ form.enrolled_class|as_crispy_field }}
        </div>
        <div class="col-md-2">
            {{ form.gender|as_crispy_field }}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-8 d-grid">
            <button type="submit" class="btn btn-success btn-lg w-100">
                <i class="fa-solid fa-database"></i> 提交
            </button>
        </div>
        <div class="col-md-4 d-grid">
            <a href="{% url 'student_list' %}" class="btn btn-secondary btn-lg w-100">
                <i class="fa-solid fa-stream"></i> 返回
            </a>
        </div>
    </div>

</form>
{% endblock content %}